html{
    scroll-behavior:smooth;
}
.skipnavlink{
    position:absolute;
    transform:translateY(-250%);
    background:black;
    padding:.5rem 1.5rem;
    border-radius:0 0 .25rem .25rem;
    text-decoration:none;
    color:white;
    font-family: 'Bangers', cursive;
    transition:transform 1000m ease-in;
    z-index:1;
}

.skipnavlink:focus{
    transform:translateY(0);
}
header div{
    Display:flex;
    padding:20px 8%;
    align-items:center;

}
.logo{
cursor:pointer;
}
.crypto-exchange-text{
    margin:0px 0px;
}
.types-of-crypto{
    margin-bottom:0px !important;
}
@media only screen and (max-width:1000px) {
    .side-menu{
        display:flex !important;
    }
    .hamburger-icon{
        display:flex !important;
    }
    .nav-link[href]{
        display:none;
    }
    .africrypt2{
        grid-column:1 !important;
    }
    .savekids1{
        grid-column:1 !important;
    }
    .squidgame3{
    grid-column:1 !important;
    }
    .bitconnect1{
        grid-column:1!important;

    }
    .onecoin2{
    grid-column:1 !important;
    }
    .grid-container-scams{
        grid-template-columns: auto !important;
    }
    .welcome-to-txt{
        margin-top:0px;
    }
    .web3-apps{
        display:block !important;
    }
    .crypto-prices-txt{
        margin-bottom:0px !important;
    }
    .container-prices{
        width:auto;
    
    }
    .crypto-price-blocks{
    grid-template-columns:1fr !important;
}
    .side-image{
        width:500px !important;
        margin-top:100px;
    }
    .nftplatforms{
        display:block !important;
    }
    .popular-exchanges{
    display:block !important;
    }
    .grid-container-crypto{
        display:grid;
        grid-template-columns:1fr !important;
        place-items:center;
        width:100% !important;
    }
    .welcome{
        flex-wrap:wrap;
        text-align:center;
        justify-content:center !important;
    }

    .white-headings{
        text-align:center;
    }
    .headings{
        font-size:4rem !important;
        text-align:center;
        margin-top:none;
        
    }

    .flex-sections{
    align-content:center; 
    flex-wrap:wrap;
     justify-content:center;
    }
    br{
        display:none;
    }
    .side-video{
        max-width:400px !important;
    }

}

.white-headings{
    color:white;
    font-size:5rem;
    align-items:center;
    justify-content:center;
    margin:20px;
    font-family: 'Bangers', cursive;
}
.side-video{
    max-width:500px;
    margin:0;    
}
.normally-red{
    color:#EF403E;
}
.flex-sections{
    display:flex;

}

    .explanations{
        color:White;
        font-size:1.5rem;
        font-family: 'Poppins', sans-serif;
        margin-bottom:10vh;
       
    }
    .info-buttons{
        border-color:transparent;
        border-radius: 30px;
            padding:20px 100px;
            color:Black;
            background-color:White;
            transition:.5s;
            cursor:pointer;
            font-family: 'Bangers', cursive;
            font-size:1.5rem;
    
    }
    .info-buttons:hover{
        background-color:black;
        color:white;
    
    }
    .scams-explained{
        background-color:#EF403E;
        flex-direction:row-reverse;
    }
.notable-scams{
display:grid;
place-items:center;
background-color:grey; 

}
.grid-container-scams{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width:100%;
}
a{
    text-decoration:none;
    color:black;
    position:relative;
    
    

}
.container-scams{
    border-style:solid;
    padding:100px 25px;
    display:grid;
    place-items:center;
    transition:.5s;
}
.container-prices{
    display:grid;
    place-items:center;
    padding:0;
    transition:.5s;
    border-radius:13px;
    background-color:white;
}

.container-scams:hover{
box-shadow:5px 5px 5px #3c3c3d;
transform:translatey(-10px);
}
.side-image{
    width:38vw;
    margin-left:25px;
}
.africrypt2{
    grid-column: 1 / span 2;
}
.savekids1{
    grid-column:3 / 3;
}
.squidgame3{
grid-column:1 / span 3;
}
.bitconnect1{
    grid-column:1/3;
    grid-row:3/3;
}
.onecoin2{
grid-column:3/3;
grid-row:3/3;
}
.africrypt2-img{
    background-image: url("images/africrypt_banner.jpg");
}
.savekids1-img{
    background-image: url("images/save_kids_banner.jpg");
}
.squidgame3-img{
background-image: url("images/squid_game_banner.png");
}
.bitconnect1-img{
    background-image: url("images/bitconnect_banner.jpg");
}
.onecoin2-img{
background-image: url("images/onecoin_banner.jpg");
}
.scambutton{
    border-color:transparent;
    border-radius: 30px;
        padding:20px 100px;
        color:white;
        background-color:black;
        transition:.5s;
        cursor:pointer;
        font-family: 'Bangers', cursive;
        font-size:1.5rem;
    width:45vw;
    margin-top:25px;
}

.scambutton:hover{
    color:black;
    background-color:white;

}
.scams-white{
    font-family: 'Bangers', cursive;
    color:white;
    font-size:5rem;
    margin:0 auto;
 
}
.scams-black{
    font-family: 'Bangers', cursive;
    color:black;
    font-size:5rem;
    margin:0 auto;
}
.scam-conclusions{
    background-color:#40605C;
    display:grid;
    place-items:center;
    
}
.footer{
    background-color:grey;
    display:grid;
    place-items:center;
    padding:25px;
}

   .footer-container{
       display:grid;
       place-items:center;
       grid-gap:10px;
       width:100%;
      
   }
   .footer-link{
       color:white;
       text-decoration:none;
       cursor:pointer;
       font-family: 'Bangers', cursive;
       margin-right:15px;
       font-size:1.5rem;
       display:inline-block;
       list-style: none;
       justify-content: space-between;
       transition:.5s;
       
   }
   .footer-container > em > p{
       text-align:center;
   }
   .footer-link:hover{
   color:black;
   }
   
   .footer-container>em>p{
       font-family: 'Poppins', sans-serif;
       color:white;
   }

   .custom-shape-divider-bottom-1645148210 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645148210 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1645148210 .shape-fill {
    fill: #EF403E;
}
.custom-shape-divider-bottom-1645157486 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645157486 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1645157486 .shape-fill {
    fill: #808080;
}
.custom-shape-divider-bottom-1645157585 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645157585 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1645157585 .shape-fill {
    fill: #40605C;
}
.custom-shape-divider-bottom-1645157685 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1645157685 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1645157685 .shape-fill {
    fill: #808080;
}

#sorry{
    font-family: 'Poppins', sans-serif;
    display:grid;
    place-items:center;
    align-items:center;
    justify-content:center;
    display:none;
}

div ul{
flex: 1;
place-items:center;
text-align:right;
}

div li{
    display:inline-block;
    list-style: none;
    justify-content: space-between;
}

body{
margin:0;
width: 100%;
overflow-x: hidden;

}

section{
position:relative;
align-items:center;
padding:150px 100px;
}
.welcome{
    background-color:white;
    display:flex;
    padding:40px 100px !important;
    justify-content: space-between;
    flex-direction:row-reverse;
}
    #heading1{
        color:white;
        margin:0;
    }
    .history-of-cyrpto{
    background-image: url("images/crypto_photo_1.jpg");
    background-position:center;
    background-size:cover;
    opacity:100%;
    color:white;
    margin:0 auto;
    display: grid;   
    place-items:center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .see-prices{
        color:black;
        margin:0 auto;
        justify-content:center;
        display: grid;   
        place-items:center;
        background-color:rgb(255, 210, 181);
        padding:50px 50px!important;

        
    }
    
    .button{
        border-radius: 30px;
        padding:20px 200px;
        color:orange;
        background-color:black;
        transition:.5s;
        cursor:pointer;
        font-family: 'Bangers', cursive;
        font-size:20px;
    
    }
    
    .button:hover{
    background-color:transparent;
    }
    
    .see-more{
        margin-top:5vh;
    }
    
    .toggle{
        background:#ffa41c;
        height:30px;
        width:60px;
        border-radius:20px;
        border:0;
        outline:0;
        cursor:pointer;
        transition:background 0.5s;
    
    }
    
    .toggle span{
        display:block;
        background:#999;
        height:26px;
        width:26px;
        border-radius:50%;
        transition:background 0.5s, margin-left 0.5s;
    }
    .active {
        background:#3c3c3d;
    }
    .active span{
        background:#8f8f8f;
        margin-left:25px;
    }
    #banimation{
        display:inline;
    }
    #eanimation{
        display:none;
    }
    .switch #banimation{
    display:none;
    }
    .switch #eanimation{
    display:inline;
    }
    
    .crypto-types{
        background-color:rgb(166, 199, 243);
        display:grid;
        place-items:center;
    }
    .history-p{
        font-size:25px;
    }
    
    #historycrypto{
    margin:0 auto;
    }
    
    .grid-container-crypto{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:250px 250px 250px 250px;
        place-items:center;
        grid-gap:10px;
        width:1000px;
    }
    
    .container-elements{
        display:grid;
        place-items:center;
        
    }
    .container-crypto{
        text-decoration: none;
        color:black;
        width:150px;
        padding:50px 50px;
        border-radius:25px;
        background-color:rgb(137, 137, 231);
        max-width:150px !important;
        transition:.5s;
        margin-bottom:0;
    }
    
    .coin-img{
    max-width:50px;
    border-radius:50%;
    }
    
    .p{
        font-family: 'Poppins', sans-serif;
        align-content:center;
        justify-content:center;
        
    }
    
    .long-name{
        text-align:center;
        justify-content:center;
        margin:0;
    }
    
    .container-crypto:hover{
        margin-bottom:20px;
        box-shadow:5px 5px 5px #3c3c3d;
    }
    
    .underheading{
        margin-top:0;
        margin-bottom:20px;
    }
    .custom-shape-divider-top-1644760411 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1644760411 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-top-1644760411 .shape-fill {
        fill: #FFFFFF;
    }
    .custom-shape-divider-bottom-1644760534 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1644760534 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1644760534 .shape-fill {
        fill: #A6C7F3;
    }
    .custom-shape-divider-bottom-1644760664 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1644760664 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom-1644760664 .shape-fill {
        fill: #FFD2B5;
    }
    .custom-shape-divider-bottom-1644799690 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1644799690 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 88px;
    }
    
    .custom-shape-divider-bottom-1644799690 .shape-fill {
        fill: #FFD2B5;
    }
    :root {
        --animate-duration: 800ms;
        --animate-delay: 0.9s;
      }
    
    
      .tech-slideshow {
        height: 200px;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
      }
      
      
      .tech-slideshow .mover-exchanges {
        animation: moveSlideshow 12s linear infinite;
      height: 200px;
        width: 2526px;
        background: url("images/double_exchanges.png");
        top: 0;
        left: 0;
        height: 100%;
        transform: translate3d(0, 0, 0);
      }
      @keyframes moveSlideshow {
        100% { 
          transform: translateX(-66.6666%);  
        }
      }
    
    .popular-exchanges{
        justify-content:space-evenly;
        background-color:rgb(161, 112, 218);
        display:grid;
        place-items:center;
    }
    
.normally-orange{
color:orange;    
transition:color .5s;
font-size:100px;  

}

.colorswitch{
color:grey;
font-size:100px;    
}

.custom-shape-divider-top-1645030143 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645030143 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.custom-shape-divider-top-1645030143 .shape-fill {
    fill: #A6C7F3;
}
.headings{
    font-size:5rem;
    align-items:center;
    font-family: 'Bangers', cursive;
    color: black;
    margin-bottom:100px;
}
.nftstonks{
margin-right:25px;
}
.normally-pruple{
    color:purple;
}

.what-is-an-nft{
display:flex;
background-color:#CE6CE6;
flex-direction:row-reverse;
}
.potential-of-nfts{
display:flex;
background-color:grey;
place-content:center;
padding-top:0px;
}
.nftplatforms{
display:grid;
place-items:center;
background-image: linear-gradient(to right, purple , white);
justify-content:space-evenly;
}
   .mover-nftmarketplaces{
    animation: moveSlideshow 12s linear infinite;
    height: 200px;
      width: 2526px;
      background: url("images/nft_marketplaces.png");
      top: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }
   .custom-shape-divider-bottom-1644986388 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644986388 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1644986388 .shape-fill {
    fill: #CE6CE6;
}

.custom-shape-divider-top-1644986479 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644986479 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-top-1644986479 .shape-fill {
    fill: #CE6CE6;
}

.custom-shape-divider-top-1644986633 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644986633 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-top-1644986633 .shape-fill {
    fill: grey;
}
.custom-shape-divider-bottom-1644986700 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644986700 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1644986700 .shape-fill {
    fill: grey;
}
.crypto-prices{
    display:grid;
    place-items:center;
    background-image: url("images/circle-scatter-haikei.svg");
    
}
.crypto-price-blocks{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:250px 250px 250px 250px;
    place-items:center;
    grid-gap:10px;

}

.container:hover{
    margin-bottom:20px;
    box-shadow:5px 5px 5px #3c3c3d;
}
div .nav-link {
text-decoration:none;
cursor:pointer;
font-family: 'Bangers', cursive;
color:black;
margin: 0 20px;
font-size:20px;
}
.heading-paragraph{
margin-top:100px;
}
.normally-blue{
    color:#202d73;
}


.welcome-to-txt{
    color:black;
}

.web3img{
    margin-right: 25px;
}

.what-is-web3{
display:flex;
background-color:#202d73;
flex-direction:row-reverse;
}
.potential-of-web3{
display:flex;
background-color:#FFD700;
}
.web3-apps{
display:grid;
place-items:center;
justify-content:space-evenly;
animation-name: backgroundColorPalette;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear; 
}

@keyframes backgroundColorPalette {
	0% {
		background: #FFD700;
	}
	100% {
		background: grey;
	}
}

   .mover-web3{
    animation: moveSlideshow 12s linear infinite;
    height: 200px;
      width: 2526px;
      background: url("images/web3_apps.png");
      top: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }
   .custom-shape-divider-bottom-1645069830 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645069830 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1645069830 .shape-fill {
    fill: #202D73;
}
.custom-shape-divider-top-1645069913 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645069913 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 123px;
}

.custom-shape-divider-top-1645069913 .shape-fill {
    fill: #202D73;
}
.custom-shape-divider-top-1645070033 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1645070033 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1645070033 .shape-fill {
    fill: #FFD700;
}
.custom-shape-divider-bottom-1645070080 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645070080 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1645070080 .shape-fill {
    fill: #808080;
}

.hamburger-icon{
display:none;
max-width:10px;
max-height:10px;
justify-content:center;
align-content:cetner;
background-color:white;
padding:20px;
cursor:pointer;
}


.hamburger-icon .lines-container{
display:grid;
}

.hamburger-icon .hamburger-lines{
    padding-bottom:2px;
    padding-top:2px;
    width:2px;
    height:2px;
    background-color:black;
    z-index:1;
    padding-left:20px;
    padding-right:20px;
    margin:4px;
}

.side-menu{
    display:none;
    position:fixed;
    width:400px;
    height:700px;
    background-color:black;
    z-index:3;
    right: 0;
    top: 0;
    transform:translatex(525px);
    transition:1s ease;
}
.side-menu-container{
    width:100%;
    height:100%;
    text-align:left;
    color:white;
    padding:25px;
}
.side-menu-container ul{
    padding-left: 0px;
    margin-top: 0px;
    width: 80%;
    transform:translatex(50px);
}

.side-link{
    font-size:80px;
    color:white;
    text-decoration:none;
    cursor:pointer;
    font-family: 'Bangers', cursive;
    transition:.5s;
}
.side-link:active{
    color:orange;
}
.side-link:hover{
    color:orange;
}
.side-menu-container ul{
    height:100%;
       
}

.x{
    justify-content:center;
    align-content:cetner;
    background-color:black;
    padding:20px;
    cursor:pointer;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.x-container{
    width: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    display:grid;
}

.x-line1{
    padding-bottom:2px;
    padding-top:2px;
    width:2px;
    height:2px;
    background-color:white;
    padding-left:20px;
    padding-right:20px;
    margin:4px;
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    transform: rotate(-45deg) translate(0px, 0px);
    
}
.x-line2{
    padding-bottom:2px;
    padding-top:2px;
    width:2px;
    height:2px;
    background-color:white;
    padding-left:20px;
    padding-right:20px;
    margin:4px;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -11px);
    

}
.expand-menu{
    transform:translatex(0px);
}

.crypto-effect-container-etherium{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:100%;
    z-index:2;
    transform:translatey(100px);
    display:none;
}
.eth-an-active{
    display:flex;
}
.btc-an-deactive{
    display:none !important;
}

.crypto-effect-container-bitcoin{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:100%;
    z-index:2;
    transform:translatey(100px);
}
.crypto-effect-img-div{
    animation:crypto-effect-animation 3s linear infinite;
}
.crypto-effect-img{
    animation:crypto-spin-effect 3s linear infinite;
}

.crypto-effect-img-div:nth-child(1){
    animation-delay:.5s;
}
.crypto-effect-img-div:nth-child(2){
    animation-delay:2s;
}
.crypto-effect-img-div:nth-child(3){
    animation-delay:1s;
}
.crypto-effect-img-div:nth-child(4){
    animation-delay:1.5s;
}

@keyframes crypto-effect-animation{
    0%{
        transform:translatey(0);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100%{
        transform:translatey(-1000px);
        opacity:0;
    }
}
@keyframes crypto-spin-effect{
100%{
    transform: rotateY(360deg);
}
}

